@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 203, 16%, 75%;
    --foreground: 222.2 84% 4.9%;
    --card: 240, 100%, 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 218, 73%, 9%;
    --primary-foreground: 210 40% 98%;
    --secondary: 195, 15%, 95%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 195, 15%, 95%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 195, 15%, 95%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 195, 15%, 95%;
    --input: 195, 15%, 95%;
    --ring: 195, 15%, 95%;
    --radius: 1.2rem;
  }

  .dark {
    --background: 226.2, 44.8%, 5.7%;
    --foreground: 0 0% 98%;
    --card: 226.2, 44.8%, 5.7%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 226.2, 44.8%, 5.7%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  li {
    @apply list-none;
  }
}

/* ::selection {
  display: none;
  width: 0;
} */

::-webkit-scrollbar {
  width: 4px;
  display: block;
}

::-webkit-scrollbar-track {
  background-color: hsl(var(--background));
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary));
}

@media only screen and (max-width: 1086px) {
  ::-webkit-scrollbar {
    display: none;
  }
}

@layer components {

  .bottom-rounded::before,
  .bottom-rounded::after {
    @apply absolute bottom-0 w-1/2 h-full bg-inherit;
    content: '';
  }

  .bottom-rounded::before {
    @apply left-0 rounded-bl-lg;
  }

  .bottom-rounded::after {
    @apply right-0 rounded-br-lg;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

::selection {
  display: none;
}

.custom-quill .ql-editor {
  color: hsl(var(--primary));
}

.directory-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 4px;
  margin: 10px;
}

.atom-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
}

.orbit {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.orbit.first {
  animation: first-orbit 1s linear infinite;
  border-bottom: 3px solid hsl(var(--primary));
}

.orbit.second {
  animation: second-orbit 1s linear infinite;
  border-right: 3px solid hsl(var(--primary));
}

.orbit.third {
  animation: third-orbit 1s linear infinite;
  border-top: 3px solid hsl(var(--primary));
}

.orbit.fourth {
  animation: fourth-orbit 1s linear infinite;
  border-left: 3px solid hsl(var(--primary));
}


/* Scrollbar pour les navigateurs WebKit (Chrome, Safari) */
.scrollbar-custom::-webkit-scrollbar {
  width: 10px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: hsl(var(--card));
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: hsl(var(--muted));
  border-radius: 50px;
}

.scrollbar-custom-small::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-custom-small::-webkit-scrollbar-track {
  background-color: hsl(var(--card));
}

.scrollbar-custom-small::-webkit-scrollbar-thumb {
  background-color: hsl(var(--muted));
  border-radius: 50px;
}


@keyframes atom-core-pulse {

  0%,
  100% {
    box-shadow: 0 0 5 hsl(var(--primary));
  }

  50% {
    box-shadow: 0 0 25px hsl(var(--primary));
  }
}

@keyframes first-orbit {
  from {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }

  to {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes second-orbit {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes third-orbit {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

@keyframes fourth-orbit {
  0% {
    transform: rotateX(50deg) rotateY(-10deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(50deg) rotateY(-10deg) rotateZ(360deg);
  }
}